/*For Footer*/
html {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  min-width:100%;
}

body > .ember-view {
  position: relative;
  margin: 0;
  min-height: 100%;
}
/**
 * Footer Styles
 */
.footer {
  position: absolute;  
  padding-top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
}
/*end footer*/

.ui.grid > [class*="three wide"].column {
	padding-right: 0px !important;
}
.ui.grid > [class*="thirteen wide"].column {
	padding-left: 0px !important;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


/*Home Page*/
.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.appBody.ui.grid {
	margin-top: 1px;
}

/*Welcome Page*/
.appBody h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}
.appBody h2 {
	text-align: center;
}
/*div>.welcome{
	margin-bottom: 13em;
}*/
div>div>div> .ui.huge.button {
	height: 100%;
}

/*About Us*/
.headshot > img {
    max-width:100%;
    max-height:100%;
}

.headshot:hover {
    box-shadow: 0px 0px 7px #00E5EE;
}

.column > h3 {
    text-align: center;
}

.description {
    margin: 10px;
    min-height: 75px;
}

/*Login page*/
.loginPage {
  margin-top: 15%;
}
.loginPage .grid .form-holder {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.75);
}
.loginPage .grid .form-holder form .form .field input {
  background-color: rgba(186,219,250,0.2);
}
.login {
  background-image: url('/assets/images/uwo-2.jpg');
  background-size: cover;
  padding: 0;
}

/*generate chart*/
.hideChart{
  display: none;
}
#open{
  padding-bottom: 20px;
}


