{{#if oudaAuth.isAuthenticated }}
<div class = "wrapper">
  <div class = "appBody ui grid" style="padding-bottom: 50px;">
      <div class="ui fixed cstmDPurple inverted stackable container menu">
        <div class = "ui container ">
          {{#link-to 'home' class='item'}}
            <img class="logo" src="/assets/images/UWO Stacked_Rev.png">WE Adjudication
          {{/link-to}}
          {{#link-to 'student-records' class='item'}}
            Student Records
          {{/link-to}}
          {{#link-to 'system-codes' class='item'}}
            System Codes
          {{/link-to}}
          {{#link-to 'adjudication' class='item'}}
            Perform Adjudication
          {{/link-to}}
          {{#link-to 'generate-reports' class='item'}}
            Generate Reports
          {{/link-to}}
          {{#link-to 'import-files' class='item'}}
            Import Files
          {{/link-to}}
          {{#link-to 'admin-portal' class='item'}}
            Admin Portal
          {{/link-to}}
          {{#link-to 'user' class='item'}}
            User Account
          {{/link-to}}
          <a class='item' {{action 'logout'}}>
            Logout
          </a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class = "ui basic segment container" style = "padding-top: 50px;">
      {{outlet}}
      </div>
    </div>
      <div class = "footer">
        <div class="ui cstmDPurple inverted vertical footer segment">
          <div class="ui center aligned grid">
            <div class="four wide column">
              © Copyright - 
              {{#link-to 'about-us'}}
                <span style = "color:white;">
                  Digital Sloth
                </span>
              {{/link-to}}
              <img class="ui right spaced mini image" src="/assets/images/UWO Stacked_Rev.png">
            </div>
          </div>
        </div>
      </div>
</div>
{{else}}
<div class = "ui basic segment container" style = "padding-top: 50px;">
      {{#unless oudaAuth.getName}}
        {{outlet "login"}}
      {{/unless}}     
</div>   
{{/if}}


