
<div class = "wrapper">
  <br> <br>
  {{outlet}}
  <br> <br>

  <!-- 
  <div class="ui violet inverted grid segment ">
    <div class="thirteen wide column">
      © Copyright - Digital Sloth
    </div>
    <div class="three wide column">
    <img style= "width:50px; height:auto" class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
    </div>
  </div> -->

  <div class = "footer">
    <div class="ui violet inverted vertical footer segment">
      <div class="ui center aligned grid">
        <div class="four wide column">
          © Copyright - Digital Sloth
          <img class="ui right spaced container mini image" src="/assets/images/UWO Stacked_Rev.png">
        </div>
      </div>
    </div>
  </div>
</div>

