{{#if oudaAuth.isAuthenticated }}

  <div class="ui segment ">
    <div class="ui fixed inverted stackable container menu">
      <div class = "ui container ">
        {{#link-to 'home' class='item'}}
          <img class="logo" src="/assets/images/UWO Stacked_Rev.png">WE Adjudication
        {{/link-to}}
        {{#link-to 'about-us' class='item'}}
          About Us
        {{/link-to}}
        {{#link-to 'student-records' class='item'}}
          Student Records
        {{/link-to}}
        {{#link-to 'system-codes' class='item'}}
          System Codes
        {{/link-to}}
        {{#link-to 'system-codes' class='item'}}
          Perform Adjudication
        {{/link-to}}
        {{#link-to 'system-codes' class='item'}}
          Generate Reports
        {{/link-to}}
        {{#link-to 'import-files' class='item'}}
          Import Files
        {{/link-to}}
        {{#link-to 'admin-portal' class='item'}}
          Admin Portal
        {{/link-to}}
        <a class='item' {{action 'logout'}}>
          Logout
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>
    {{outlet}}
    <div class = "footer">
      <div class="ui violet inverted vertical footer segment">
        <div class="ui center aligned grid">
          <div class="four wide column">
            © Copyright - Digital Sloth
            <img class="ui right spaced container mini image" src="/assets/images/UWO Stacked_Rev.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{else}}
  <div class="ui segment">
    <div class="appBody ui middle aligned one column centered grid" style = "margin-bottom:50px;">
        {{#unless oudaAuth.getName}}
          {{outlet "login"}}
        {{/unless}}       
    </div> 
    <div class = "footer">
      <div class="ui violet inverted vertical footer segment">
        <div class="ui center aligned grid">
          <div class="four wide column">
            © Copyright - Digital Sloth
            <img class="ui right spaced container mini image" src="/assets/images/UWO Stacked_Rev.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}


