{{#if oudaAuth.isAuthenticated }}

  <div class="ui segment ">
    <div class="ui fixed inverted stackable ten item container menu">
      <div class = "ui container ">
        <p class = "header item" style = "pointer-events: none;">
        <img class="logo" src="/assets/images/UWO Stacked_Rev.png" data-pin-nopin = "true">
        WE Adjudication
        </p>      
        {{#link-to 'home' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Home
        {{/link-to}}
        {{#link-to 'about-us' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>About Us
        {{/link-to}}
        {{#link-to 'student-records' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Student Records
        {{/link-to}}
        {{#link-to 'system-codes' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>System Codes
        {{/link-to}}
        {{#link-to 'system-codes' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Perform Adjudication
        {{/link-to}}
        {{#link-to 'system-codes' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Generate Reports
        {{/link-to}}
        {{#link-to 'import-files' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Import Files
        {{/link-to}}
        {{#link-to 'admin-portal' class='item' style="padding: 1px;"}}
          <i class="large user icon"></i>Admin Portal
        {{/link-to}}
        <a class='item' style="padding: 1px;" {{action 'logout'}}>
          <i class="large user icon"></i>Logout
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>
    {{outlet}}
    <div class = "footer">
      <div class="ui violet inverted vertical footer segment">
        <div class="ui center aligned grid">
          <div class="four wide column">
            © Copyright - Digital Sloth
            <img class="ui right spaced container mini image" src="/assets/images/UWO Stacked_Rev.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{else}}
  <div class="ui middle one column centered grid" >
    <div style="margin-top:5%;">
      {{#unless oudaAuth.getName}}
        {{outlet "login"}}
      {{/unless}}
    </div> 
  </div> 
  <div class = "footer">
    <div class="ui violet inverted vertical footer segment">
      <div class="ui center aligned grid">
        <div class="four wide column">
          © Copyright - Digital Sloth
          <img class="ui right spaced container mini image" src="/assets/images/UWO Stacked_Rev.png">
        </div>
      </div>
    </div>
  </div>
  {{/if}}


