

<br> <br>
{{outlet}}
<br> <br>

<!-- 
<div class="ui violet inverted grid segment ">
  <div class="thirteen wide column">
    © Copyright - Digital Sloth
  </div>
  <div class="three wide column">
  <img style= "width:50px; height:auto" class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
  </div>
</div> -->


<div class="ui violet inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="three wide column">
      <img style= "width:50px; height:auto" class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
    </div>
    <div class="ui horizontal inverted small  link list">
      © Copyright - Digital Sloth
    </div>
  </div>
</div>

