

<br> <br>
{{outlet}}
<br> <br>
<footer>
  <div class="ui violet inverted grid segment">
    <div class="thirteen wide column">
      © Copyright - Digital Sloth
    </div>
    <div class="three wide column">
      <img class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
    </div>
  </div>
</footer>
