<h2>About the WE Adjudication System</h2>
<P>
  The <b>Western Engineering Adjudication System</b> is a comprehensive Web-based application that allows you to interact with the database containing second, third and fourth year engineering student Information Technology Services (ITS) records. This site allows you to appropriately review and approve students to move forward by specifying a set of criteria. The goal of this application is to effectively <b>increase productivity and organization</b> in Engineering Undergraduate Services, and by extension, the adjudication process will become <b>faster and more efficient</b>.
  <br><br>
  Developed by Digital Sloth: Nicholas Van Bommel, Michael Romao, Dana Zagar, Tom Machado, and Daniela Arcese.

</P>
