{{#if isAddGrouping}}
<div class="ui modal">
      <div class="header">Add Courses</div>
      {{#ui-dropdown   class="fluid multiple selection" selected=[selectedCourses] onChange=(action 'selectCourses')}}
       <i class="dropdown icon"></i>
       <div class="default text">Select Courses</div>
       <div class="menu">
         {{#each coursesModel as |course|}}
           <div class="item">
             {{course.courseNumber}} {{course.name}}
           </div>
         {{/each}}
       </div>
     {{/ui-dropdown}}
<br>

    <div class="ui inverted green button" {{action "done"}}>
      Done
    </div>
</div>
{{/if}}