<div class = "ui center aligned grid container" style="padding-bottom:0">
  <div class = "ui basic segment">
    <div class = "ui huge header">
      Adjudication
    </div>
  </div>
</div>
<div class = "ui grid" style = "margin:0">
    <div class = "five wide column"></div>
    <div class = "six wide column">
        <div class = "ui secondary pointing fluid two item menu" style = "padding-bottom:0">
            <div style="cursor: pointer;" class = "active item" data-tab="Adjudication">Perform Adjudication</div>
            <div style="cursor: pointer;" class = "right floated item" data-tab="Reports">Generate Reports</div>
        </div>
    </div>
    <div class = "five wide column"></div>
</div>
<div class = "ui tab segment active" data-tab="Adjudication">
	{{perform-adjudication reportAction = (action 'quickGenerateReport')}}
</div>
<div class = "ui tab segment" data-tab="Reports">
	{{generate-reports termID = termID}}
</div>

