<div class="ui small modal">
  <div class="header">Are you sure you want to delete this student?</div>
  <div class="content">
    <p>
      This action is irreversible.
    </p>
  </div>
  <div class="actions">
    <div class="ui inverted red button" {{action "deleteStudent"}}>
    	Delete
    </div>
    <div class="ui inverted cstmTurq button" {{action "cancel"}}>
    	Cancel
    </div>
  </div>
</div>

