<div class="ui modal">
  <div class="header">Are you sure you want to delete ALL CURRENT DATA to reimport?
  </div>
  <div class="actions">
    <div class="ui button" {{action "deleteAllData"}}>
    	Delete All Data
    </div>
    <div class="ui button" {{action "cancel"}}>
    	Cancel
    </div>
  </div>
</div>
