<div class="ui basic segment container">
  <div class="appBody ui middle aligned one column centered grid" style = "margin-bottom:50px;">
      {{welcome-page studentDataEntry = (action 'studentsDataEntry')}}
  </div>
</div>

