<div class="ui grid">
<div class="eight wide column">
    <h2 class="ui header" style="margin-top: 2px;">Manage Adjudication Rules</h2>
</div>
<div class="eight wide column right aligned">
    <button class="ui button" {{action 'addNewRole'}}>Add New Rule</button>
</div>
</div>