<div class = "ui long wide basic modal">
	{{logical-expression rule = ruleID objectID = logicalExpID level = 0}}
	<div class = "ui green button">Save Parameter(s)</div>
  	<div class = "ui red button" {{action 'cancel'}}>Cancel</div>
</div>
