<div class = "ui long wide basic modal">
	{{logical-expression level = 0}}
	<div class = "ui green button">Add Parameter(s)</div>
  	<div class = "ui red button" {{action 'cancel'}}>Cancel</div>
</div>
