<div class = "ui long wide basic modal">
	{{#if loadLogExp}}
		{{logical-expression rule = ruleID objectID = logicalExpID level = 0}}
	{{/if}}
	<div class = "ui cstmLBlue button" {{action 'closeWindow'}}>Save</div>
</div>
