<div class = "ui welcome container">
	<div class = "ui text container">
		<h2>
			Please choose a term to adjudicate for:
		</h2>

        <div class = "ui padded centered grid container">
            <select class="ui dropdown" onchange={{action 'selectTerm' value='target.value'}}>
                {{#each termCodeModel as |termCode|}}
                    <option value={{termCode.id}}>{{termCode.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class = "ui padded centered grid container">
			<div class = "five wide column">
				<div class = "ui green button" {{action 'adjudicate'}}>
					Start Adjudication Process
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui centered middle aligned grid">
	<div class = "row">        
		<div class="ten wide stretchered column ui basic vertical ordered steps">
            <br>
            <label>Student Information Collection Progress</label>    
            {{#ui-progress value = parsingProgress progress = parsingProgress total = parsingTotal}}
                <div class="bar">
                    <div class="progress"></div>
                </div>
            {{/ui-progress}}
            <br>
            <label>Student Evaluation Progress</label>    
            {{#ui-progress value = evaluationProgress progress = evaluationProgress total = evaluationTotal}}
                <div class="bar">
                    <div class="progress"></div>
                </div>
            {{/ui-progress}}
            <br>
            <label>Student Adjudication Saving Progress</label>    
            {{#ui-progress value = savingProgress progress = savingProgress total = savingTotal}}
                <div class="bar">
                    <div class="progress"></div>
                </div>
            {{/ui-progress}}
		</div>
		<div class = "six wide column">
            <div class="ui raised padded text container segment">
                <h2 class="ui header">Adjudication Status</h2>
            </div>
		</div>
	</div>
</div>
<br>
