
    <select class="ui selection dropdown">
        <option value="">Student</option>
        {{#each studentModel as |students|}}
        <option>{{students.firstName}}{{students.lastName}}</option>
        {{/each}}
    </select>

    <select class="ui selection dropdown">
        <option value="">Term</option>
        {{#each termCodeModel as |termCode|}}
        <option>{{termCode.name}}</option>
        {{/each}}
    </select>

    <select class="ui selection dropdown">
        <option value="">Category</option>
    </select>
    
    <button class="ui inverted purple button" {{action "adjudicate"}}>Ajudicate</button>

