<div class="ui container">
<div class="ui selection dropdown" onchange={{action 'selectStudent' value='target.value'}}>
    <input type="hidden" name="Students">
    <i class="dropdown icon"></i>
    <div class="default text">Students</div>
</div>

<div class="ui selection dropdown" onchange={{action 'selectTerm' value='target.value'}}>
    <input type="hidden" name="Term">
    <i class="dropdown icon"></i>
    <div class="default text">Term</div>
</div>

<div class="ui selection dropdown" onchange={{action 'selectCategory' value='target.value'}}>
    <input type="hidden" name="Category">
    <i class="dropdown icon"></i>
    <div class="default text">Category</div>
</div>
    
<button class="ui inverted purple button">Ajudicate</button>
</div>
