<div class = "ui container">
	<div class = "ui text container">
		<h1 class = "ui header">
			Welcome, User.
		</h1>
		<h2>
			You are awesome.
		</h2>
		<div class = "ui padded centered grid container">
			<div class = "five wide column">
				<div class = "ui huge primary button">
					Start Adjudication Process
				</div>
			</div>
			<div class = "five wide column">
				<div class = "ui huge secondary button">
					View <br>Current Progress
				</div>
			</div>
		</div>
	</div>
</div>