<br>
<h2>Western Engineering Adjudication System:</h2>
<ul>
  <br>
  <li>View and Update Student Records</li>
  <br>
  <li>View and Update Sytem codes such as Program Code, Faculty Code etc...</li>
  <br>
  <li>Ajudicate Student progress</li>
  <br><br><br>
</ul>
