<br>
<h2>Welcome to the Western Engineering Adjudication System.</h2>
<ul>
  <br>
  <li>Adjudicate second, third, and fourth year engineering students via their records in the ITS database.</li>
  <br>
  <li>View student scholarships, awards, and program records.</li>
  <br>
  <li>Communicate with student adjudication staff effectively.</li>
  <br><br><br>
</ul>
