<div class = "welcomePage" style="margin-top:-50px;">
	<div class = "ui welcome container">
		<h1 class = "ui header">
			Welcome to WE Adjudication, {{authentication.getName}}.
		</h1>
	</div>
	<br><br>

	<div class = "ui grid container">
		<div class = "ui centered grid">
			<div class = "five wide center aligned column">
				{{#link-to 'student-records' class = "ui cstmLBlue animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "student icon"/><br><br>Add, modify, and delete student information.</div>
					<div class = "hidden content">Student Records <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
			<div class = "five wide center aligned column">
				{{#link-to 'adjudication' class = "ui cstmTurq animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "legal icon"/><br><br>Begin the adjudication process for current students.</div>
					<div class = "hidden content">Adjudication <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
			<div class = "five wide center aligned column">
				{{#link-to 'system-codes' class = "ui cstmLBlue animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "options icon"/><br><br>Add, modify, and delete system information.</div>
					<div class = "hidden content">System Codes <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
		</div>
		<div class = "ui centered grid">
			<div class = "five wide center aligned column">
				{{#link-to 'import-files' class = "ui cstmTurq animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "download icon"/><br><br>Import files to WE Adjudication for review.</div>
					<div class = "hidden content">Import Files <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
			<div class = "five wide center aligned column">
				{{#link-to 'admin-portal' class = "ui cstmLBlue animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "settings icon"/><br><br>Customize your settings in WE Adjudication.</div>
					<div class = "hidden content">Settings <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
			<div class = "five wide center aligned column">
				{{#link-to 'about-us' class = "ui cstmTurq animated button" tabindex="0"}}
					<br><div class = "visible content"><i class = "child icon"/><br><br>Meet the team who built the WE Adjudication system.</div>
					<div class = "hidden content">Digital Sloth <i class = "right arrow icon"/></div>
				{{/link-to}}
			</div>
		</div>
	</div>
</div>