<div class = "ui welcome container">
	<div class = "ui text container">
		<h1 class = "ui header">
			Welcome, {{authentication.getName}}.
		</h1>
		<h2>
			You are awesome.
		</h2>
		<div class = "ui padded centered grid container">
			<div class = "five wide column">
				<div class = "ui huge green button" {{action 'startStudentAdjudication'}}>
					Start Adjudication Process
				</div>
			</div>
			<div class = "five wide column">
				<div class = "ui huge blue button">
					Continue <br>Adjudication Process
				</div>
			</div>
		</div>
	</div>
</div>